@font-face {
  font-family: 'FontAwesome';
  src: url('./font-awesome/fonts/fontawesome-webfont.eot');
  src: url('./font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'),
  url('./font-awesome/fonts/fontawesome-webfont.ttf') format('truetype');
}

body {
  background-color: #dbd9d9;
  font-size: 16px;
  margin: 0;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.wrapper input{
  box-sizing: border-box;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 25px;
  font-size: 16px;
  font-weight: bold;
  border: solid 1px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  letter-spacing: 1.1px;
  background-color: rgba(102, 100, 100, 0.4);
}

input::-webkit-input-placeholder{
  color: grey;
}

.wrapper input:focus{
  outline: none;
  border-color: red;
}

.wrapper label{
  display: block;
  width: 60%;
  margin: auto;
  position: relative;
  margin-top: 20px;
}

.wrapper::after{
  font-family: 'FontAwesome';
  content: "\f16a";
  position: absolute;
  left: 50%;
  margin-left: -125px;
  font-size: 250px;
  color:grey;
  z-index: -1;
  top: 50%;
  margin-top: -150px;
}
.wrapper ul{
  z-index: 5;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.clip-list{
  --item-per-screen: 4;
  --item-width: calc(100vw/var(--item-per-screen));
  --item-count: 15;
  --i: 0;
  --tx: 0px;
  display: grid;
  grid-template-columns: repeat(var(--item-count), var(--item-width));
  width: calc(var(--item-count)*var(--item-width));
  transform: translate(calc(var(--tx) + var(--item-per-screen)*var(--item-width)*var(--i)*-1));
  transition: transform .5s ease-out;
}

.smooth {
  transition: transform 0.05s linear;
}

.clip-list:hover{
  cursor: grab;
}

.wrapper ul li{
  display: block;
  justify-self: center;
  padding: 20px;
  width: 80%;
}

.wrapper ul li .item-wrapper{
  display: block;
  align-items: center;
  background-color: rgba(255,255,255, 0.9);
  height: 60vh;
  border-radius: 8px;
  position: relative;
  transition: 0.5s ease;
  overflow: hidden;
  user-select: none;
}

.wrapper ul li .item-wrapper:hover{
  background-color: rgba(235, 0, 0, 1);
  color: #fff;
}

.wrapper ul li .item-wrapper .clip-title{
  position: absolute;
  top: 40px;
  background-color: rgba(255,0,0,0.9);
  text-align: center;
  transition: 0.2s ease;
  width: 100%;
}

.wrapper ul li .item-wrapper a{
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 100%;
}

.wrapper ul li .item-wrapper .clip-title:hover{
  color: yellow;
  transform: rotate(4deg)
}

.wrapper ul li .item-wrapper .clip-about > *{
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
}

.wrapper ul li .item-wrapper .clip-about .clip-description{
  margin-top: 20px;
  text-align: justify;
  line-height: 20px;
  word-break: break-word;
}

.clip-author::before{
  font-family: 'FontAwesome';
  content:"\f2c0";
  position: absolute;
  left: 15px;
  color: grey;
  z-index: 2;
  font-size: 1rem;
}

.clip-date::before{
  font-family: 'FontAwesome';
  content:"\f073";
  position: absolute;
  left: 15px;
  color: grey;
  z-index: 2;
  font-size: 1rem;
}

.clip-views::before{
  font-family: 'FontAwesome';
  content:"\f06e";
  position: absolute;
  left: 15px;
  color: grey;
  z-index: 2;
  font-size: 1rem;
}

.wrapper ul li img{
  width: 100%;
  pointer-events: none;
}

.wrapper ul li .clip-about{
  padding: 15px;
}

.wrapper-pseudo::after{
  animation: download 1s infinite ease-in-out;
}

.wrapper .search-wrapper label:before{
  font-family: 'FontAwesome';
  content:"\f002";
  position: absolute;
  display: inline-block;
  color: grey;
  z-index: 2;
  padding-top: 4px;
  padding-left: 10px;
  font-size: 1.2rem;
}

@keyframes download {
  from {color: grey;}
  to {color: red;}
}

.navbar{
  width:100px;
  margin: auto;
  display: flex;
}

.navbar > *{
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 10px;
  color: grey;
  font-size: 14px;
  position: relative;
}

.navbar .prev::before{
  content: "\f137";
  font-family: "FontAwesome";
  color: grey;
  position: absolute;
  font-size: 20px;
}

.navbar .prevPrev::before{
  content: "\f0a8";
  font-family: "FontAwesome";
  color: grey;
  position: absolute;
  font-size: 20px;
}

.navbar .prevPrev{
  display: none;
}

.navbar .next::before{
  content: "\f138";
  font-family: "FontAwesome";
  color: grey;
  position: absolute;
  font-size: 20px;
}

.navbar .next:hover::before{
  color: red;
  cursor: pointer;
}

.navbar .prev:hover::before{
  color: red;
  cursor: pointer;
}

.navbar .prevPrev:hover::before{
  color: red;
  cursor: pointer;
}


.navbar .page{
  width: 20px;
  height: 20px;
  background-color: #fff;
  text-align: center;
  display: grid;
}

.page span{
  display: block;
  align-self: center;
  user-select: none;
}

.error{
  display: flex;
  justify-content: center;
  background-color:rgba(128,128,128,0.6);
  padding: 25px;
  margin-top: 40px;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 1024px){
  .clip-list{
    --item-per-screen: 3;
  }
}

@media (max-width: 768px){
  .clip-list{
    --item-per-screen: 2;
  }
}

@media (max-width: 480px){
  .clip-list{
    --item-per-screen: 1;
  }
  .wrapper input{
    font-size: 13px;
  }
  .wrapper .search-wrapper label:before{
    display: none;
  }
}
